/* General styling for the entire navbar */
.navbar {
  background-color: white;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: all 0.3s ease;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #007bff;
  margin-left: 15px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-link {
  margin-right: 25px;
  text-decoration: none;
  font-size: 1.1rem;
  color: #333;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.nav-link .nav-icon {
  margin-right: 8px;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: #007bff; /* Blue hover effect */
  transform: translateY(-2px); /* Smooth hover movement */
}

.nav-link.active {
  color: #28a745; /* Green for active links */
}

.nav-buttons {
  display: flex;
  margin-right: 15px;
  margin-bottom: 17px;
  margin-top: -3px
}

.connect-wallet {
  background-color: #28a745; /* Green for connect button */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 15px;
  transition: all 0.3s ease;
}

.connect-wallet:hover {
  background-color: #218838; /* Darker green on hover */
  transform: scale(1.05);
}

.post-job {
  background-color: #007bff; /* Blue for Post Job button */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.post-job:hover {
  background-color: #0056b3; /* Darker blue on hover */
  transform: scale(1.05);
}

/* Adding responsiveness for mobile screens */
@media (max-width: 768px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .nav-links {
      margin-top: 10px;
      flex-direction: column;
  }

  .nav-link {
      margin-right: 0;
      margin-bottom: 10px;
  }

  .nav-buttons {
      margin-top: 10px;
      width: 100%;
      justify-content: flex-end;
  }

  .connect-wallet, .post-job {
      width: 100%;
  }
}
